*{
    padding: 0;
    margin: 0;
}
#navbar{
    background-color: #0f1111;
    height: 60px;
}
#logo{
    text-size-adjust: 25px;
    color: #f08804;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 200px;
}
button{
    background-color: #f08804;
}